.navbar {
  height: 50px;
  width: calc(100% - 50px);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.text {
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin-right: -100px;
}
