.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  width: calc(100vw - 100px);
  position: fixed;
  top: 0;
  background-color: #ffff;
  z-index: 999;
  height: 56px;
}

.links {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.link {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.activeLink {
  content: '';
  background: #9d34da;
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.user {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
