.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  width: calc(100vw - 100px);
  position: fixed;
  top: 0;
  background-color: #ffff;
  z-index: 999;
}

.links {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
