.hero {
  height: calc(100vh);
  width: calc(100vw - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  gap: 40px;
}

.heroText {
  font-size: 65px;
  width: 50%;
  text-align: center;
  margin: 0;
}

.heroSecondaryText {
  font-size: 20px;
  width: 50%;
  text-align: center;
  font-weight: 200;
  line-height: 25px;
  margin: 0;
}
