.sidebar {
  width: 220px;
  background-color: #fff;
  height: calc(100% - 80px);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo {
  font-weight: 600;
  font-size: 32px;
  padding-left: 20px;
}

.elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
