.sidebar {
  width: 220px;
  background-color: #fff;
  height: calc(100vh - 80px);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.logo {
  font-weight: 600;
  font-size: 32px;
  padding-left: 20px;
}

.elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom {
  position: absolute;
  bottom: 40px;
  width: 193px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
