.sidebar {
  width: 250px;
  background-color: #fff;
  height: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo {
  font-weight: 600;
  font-size: 32px;
  padding-left: 20px;
}

.elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
